<div class=" offcanvas-btn text-end m-3">
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight">
    <iconify-icon icon="ci:hamburger-lg"
                  style="font-size: 30px;color: #DAFF3E"></iconify-icon>
  </button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button"
            class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-hero-sidebar></app-hero-sidebar>
  </div>
</div>
