<section id="resume">
  <div class="py-4 my-4 ">
    <h1 class="fw-bold mt-5">Resume</h1>
  </div>

  <hr class="mid-break my-2">


  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">My Skills</h2>


    <div id="progressbar-tooltip-id" class="progressbar-tooltip">
      <h4>Angular</h4>
      <h4>NestJs</h4>
      <h4>TypeScript</h4>
      <h4>Javascript</h4>
      <h4>HTML + CSS + SCSS</h4>
      <h4>NodeJs</h4>
      <h4>Unit Testing</h4>
      <h4>RESTful Services / APIs</h4>
      <h4>Version Control (Git, GitHub, GitLab, BitBucket)</h4>
    </div>


  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Experience</h2>

    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2018 - Present <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description"> Ventura Travel Agency </a></p>
          <h3 class="info-title">Full-stack Developer</h3>
          <p>Work in progress...</p>
        </div>

      </div>
    </div>
    <div class="row justify-content-end" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info">
          <p class="meta-date">2021 - Present <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description"> Retail Banking (BG) </a></p>
          <h3 class="info-title">Senior Developer / Senior Engineer</h3>
          <p>Work in progress...
          </p>
        </div>

      </div>
    </div>
    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2020 - 2021 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description"> Retail Banking (BIH,HR,MNE,SRB,SLO) </a></p>
          <h3 class="info-title">Software Engineer / Lead Engineer</h3>
          <p>Work in progress...
          </p>
        </div>

      </div>
    </div>
    <div class="row justify-content-end" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2015 - 2020 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description"> Retail Banking (BIH,HR,MNE,SRB,SLO) </a></p>
          <h3 class="info-title">Tester / Developer / Software Engineer</h3>
          <p>Work in progress...</p>
        </div>

      </div>
    </div>

  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Education</h2>

    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2016 - 2020 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description">Faculty of Electrical Engineering, Sarajevo</a>
          </p>
          <h3 class="info-title">Master’s Degree, Computer Science</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-end" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info  ">
          <p class="meta-date">2011 - 2016 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description">Faculty of Electrical Engineering, Sarajevo</a></p>
          <h3 class="info-title">Bachelor's Degree, Computer Science</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2007 - 2011 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description">Classical High School, Sarajevo</a></p>
          <h3 class="info-title">Computer and Information Sciences and Support Services</h3>
          <p></p>
        </div>
      </div>
    </div>


  </div>

</section>
