<section id="resume">
  <div class="py-4 my-4 ">
    <h1 class="fw-bold mt-5">Resume</h1>
  </div>

  <hr class="mid-break my-2">


  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">My Skills</h2>


    <div id="progressbar-tooltip-id" class="progressbar-tooltip">

      <h4>Adobe Photoshop</h4>
      <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
           data-value="90" data-title=""></div>
      <h4>Adobe Illustration</h4>
      <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
           data-value="95" data-title=""></div>
      <h4>Adobe Indesign</h4>
      <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
           data-value="80" data-title=""></div>
      <h4>Adobe Premiere Pro</h4>
      <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
           data-value="85" data-title=""></div>
    </div>


  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Experience</h2>


    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2019 - Present <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description"> Web
              World </a></p>
          <h3 class="info-title">lead-paragraph Web Designer</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>

      </div>
    </div>
    <div class="row justify-content-end" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info">
          <p class="meta-date">2017 - 2019 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description">Retro
            Tees </a></p>
          <h3 class="info-title">Senior Designer</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>

      </div>
    </div>
    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2012 - 2016 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description"> Post
            Creation </a></p>
          <h3 class="info-title">Junior Graphic Designer</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>

      </div>
    </div>

  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Education</h2>

    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2011 - 2014 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description">University Of Design</a>
          </p>
          <h3 class="info-title">Advance Graphic & Visual Design</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-end" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info  ">
          <p class="meta-date">2009 - 2011 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description">Central
            Art College</a></p>
          <h3 class="info-title">Website Design</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-start" data-aos="fade-up">
      <div class="col-7">
        <div class="data-info ">
          <p class="meta-date">2008 - 2009 <img src="assets/Ellipse 7.png" alt="image"> <a
            class="open-description">School
            Of Visual Arts</a></p>
          <h3 class="info-title">Graphic Design</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vero
            quidem nobis maxime dolorem aliquam quisquam eum ipsum amet. Vitae aut atque
            fuga dolorem. Vel voluptatibus fugiat nam. Impedit aperiam nesciunt facilis!
          </p>
        </div>
      </div>
    </div>


  </div>

</section>
