<section id="resume">
  <div class="py-4 my-4 ">
    <h1 class="fw-bold mt-5">Resume</h1>
  </div>

  <hr class="mid-break my-2">


  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">My Skills</h2>


    <div id="progressbar-tooltip-id" class="progressbar-tooltip">
      <h4>Angular</h4>
      <h4>NestJs</h4>
      <h4>TypeScript + Javascript</h4>
      <h4>HTML + CSS + SCSS</h4>
      <h4>NodeJs</h4>
      <h4>Unit Testing</h4>
      <h4>RESTful Services / APIs</h4>
      <h4>TeamCity, Jenkins, GitLab CI/CD</h4>
      <h4>Version Control (Git, GitHub, GitLab, BitBucket)</h4>
    </div>


  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Experience</h2>
    <app-timeline [items]="exp"></app-timeline>
  </div>

  <hr class="mid-break my-2">

  <div class="py-4 my-4 ">
    <h2 class="fw-bold pb-4">Education</h2>
    <app-timeline [items]="edu"></app-timeline>
  </div>

</section>
