<section id="blog">

  <div class="py-4 my-4 ">
    <h1 class="fw-bold mt-5">Blog</h1>
  </div>

  <hr class="mid-break my-2">

  <div class="container py-4 my-4">

    <div class="row ">
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 59.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 14, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description">Business</a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">Importance of investing more in
              branding
              first</h3>
          </a>

        </div>
      </article>
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 62.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 11, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description">Branding</a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">Latest design trend: minimalism looks
              pleasing</h3>
          </a>

        </div>
      </article>
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 66.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 11, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description">Design</a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">Top 100 most beautiful t-shirt prints
              collection</h3>
          </a>

        </div>
      </article>
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 72.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 11, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description"> Business </a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">unbelievable secret tips of
              successful
              businesses</h3>
          </a>

        </div>
      </article>
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 71.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 11, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description"> Design </a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">Get inspired from every small
              products
              design</h3>
          </a>

        </div>
      </article>
      <article class="blog-article col-md-6">
        <div class="image-holder">
          <a href="blog-single.html" class="image-hvr-effect">
            <img src="assets/Rectangle 67.png" alt="post" class="post-image">
          </a>
        </div>
        <div class="post-item">
          <p class="meta-date">Feb 11, 2021 <img src="assets/Ellipse 7.png" alt="image">
            <a class="open-description"> Branding </a>
          </p>
          <a href="blog-single.html" class="blog-description">
            <h3 class="info-title text-capitalize">Simple products needs simple branding
            </h3>
          </a>

        </div>
      </article>


    </div>


    <div class="d-flex flex-row justify-content-center mt-3">
      <div class="blog-swipe"><a class="blog-swipe ">
        <iconify-icon
          icon="ic:round-arrow-back"></iconify-icon>
      </a></div>
      <div class="blog-swipe active"><a class="blog-swipe active">1</a></div>
      <div class="blog-swipe"><a class="blog-swipe "> 2 </a></div>
      <div class="blog-swipe"><a class="blog-swipe "> 3 </a></div>
      <div class="blog-swipe"><a class="blog-swipe ">
        <iconify-icon
          icon="ic:round-arrow-forward"></iconify-icon>
      </a></div>
    </div>


  </div>
</section>
