<section id="navigation-bar" class="navigation position-fixed ">


  <ul class="nav nav-pills text-center align-items-center mt-5 ms-xl-5 ms-3 ">
    <li>
      <a href="#home" class="nav-link active rounded-0" aria-current="page" data-bs-toggle="tooltip"
         data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
        <iconify-icon icon="ic:round-home"></iconify-icon>

      </a>
    </li>
    <li>
      <a href="#about" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
         aria-label="Dashboard" data-bs-original-title="Dashboard">
        <iconify-icon icon="ic:round-person"></iconify-icon>
      </a>
    </li>
    <li>
      <a href="#resume" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
         aria-label="Orders" data-bs-original-title="Orders">
        <iconify-icon icon="ic:round-school"></iconify-icon>
      </a>
    </li>
    <li>
      <a href="#portfolio" class="nav-link rounded-0" data-bs-toggle="tooltip"
         data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
        <iconify-icon icon="ic:round-business-center"></iconify-icon>
      </a>
    </li>
    <li>
      <a href="#blog" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
         aria-label="Customers" data-bs-original-title="Customers">
        <iconify-icon icon="ic:round-menu-book"></iconify-icon>
      </a>
    </li>
    <li>
      <a href="#contact" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
         aria-label="Customers" data-bs-original-title="Customers">
        <iconify-icon icon="ic:round-phone"></iconify-icon>
      </a>
    </li>
  </ul>

</section>
