<header class="hero position-fixed">
  <div class="container hero-container text-center my-4 pt-3 align-content-between">

    <div>
      <img src="assets/profile_hs_2016.jpg" class="hero-img mb-4 rounded-circle" alt="Bootstrap Themes"
           width="140" height="auto" loading="lazy">


      <h2 class="fw-bold mt-3">Haris Spahić</h2>
      <p>Experienced developer with a demonstrated history of working in the information
        technology and services industry. </p>
      <div class="social-icon my-3">
        <p>
          <a class="social-link mx-3 active" href="https://www.linkedin.com/in/haris-spahi%C4%87-438036a4/">
            <iconify-icon
              icon="icomoon-free:linkedin"></iconify-icon>
          </a>
          <a class="social-link mx-3 " href="https://facebook.com/harespaha/">
            <iconify-icon
              icon="icomoon-free:facebook"></iconify-icon>
          </a>
          <a class="social-link mx-3 " href="https://github.com/spahicharis/">
            <iconify-icon
              icon="icomoon-free:github"></iconify-icon>
          </a>
        </p>

      </div>


    </div>

    <div>
      <p-galleria [value]="images"
                  [showIndicators]="false"
                  [showItemNavigators]="true"
                  [showThumbnails]="false"
                  [autoPlay]="true"
                  [changeItemOnIndicatorHover]="true"
                  [responsiveOptions]="responsiveOptions"
                  [containerStyle]="{ 'max-width': '640px' }">
        <ng-template pTemplate="item" let-item>
          <img  *ngIf="item?.itemImageSrc" [src]="item.itemImageSrc" width="150px" style="display: block;" alt="Image"/>
        </ng-template>
      </p-galleria>
    </div>

    <div class="mb-5">
      <p class="copyright ">© Free HTML template by: <a href="https://templatesjungle.com/">
        <u>TemplatesJungle </u> </a></p>
    </div>


  </div>
</header>
