<app-offcanvas-area></app-offcanvas-area>

<div class="container-fluid">
  <div class="row">

    <app-navigation-bar></app-navigation-bar>

    <div class="col-xl-6 offset-xl-2">
      <div class="container content-container">

        <app-home></app-home>

        <app-about></app-about>

        <app-resume></app-resume>

        <app-portfolio></app-portfolio>

<!--        <app-blog></app-blog>-->

        <app-contact></app-contact>
      </div>
    </div>

    <div class="hero-sidebar col-xl-3 offset-xl-1">
      <app-hero-sidebar></app-hero-sidebar>
    </div>

  </div>
</div>

