<section id="home" class="mt-0">

  <div class=" py-lg-4 my-lg-4 text-center">
    <h1 class="fw-bold">Hello World!?</h1>
    <div class="col-lg-10 mx-auto">
      <p class="lead-paragraph mb-4">I'm a frontend developer few years now. Mainly. I have experience with backend also. Can I call myself fullstack developer?</p>
      <div class=" gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg mt-3">GO FURTHER</button>
      </div>
    </div>
  </div>

</section>
