<section id="about" class="mt-0">

    <div class="py-4 my-4 ">
        <h1 class="fw-bold mt-5">About Me</h1>
        <p class="lead-paragraph my-4">Experienced
            <strong>developer</strong> with a demonstrated history of working in the
                                       information
                                       technology and services industry. Skilled in almost every
            <strong>frontend</strong> technology. Strong <strong>engineering
                                                                 professional</strong>
                                       with a Master’s Degree focused in Computer Science from Faculty of Electrical Engineering, University of
                                       Sarajevo.</p>
    </div>

    <hr class="mid-break my-2">

    <div class=" py-4 my-4 ">
        <h2 class="fw-bold">Personal Info</h2>

        <ul class="list-unstyled">
            <li><b>Residence:</b> Bosnia and Herzegovina</li>
            <li><b>Address:</b> Sarajevo, 71000</li>
            <li><b>E-mail:</b> <a href="mailto:web.spahic@gmail.com"> web.spahic&#64;gmail.com</a></li>
            <li><b>Phone:</b> +38761 578 182</li>
        </ul>

    </div>

    <hr class="mid-break my-2">

    <div class=" py-4 my-4 ">
        <h2 class="fw-bold pt-4 pb-5">Services</h2>
        <div class="row">
            <div class="col-12 d-flex align-items-start pb-5">
                <iconify-icon style="color: #DAFF3E; font-size: 50px;" class="me-2" icon="material-symbols-light:developer-mode-tv-outline"></iconify-icon>
                <div>
                    <h4 class="fw-bold mb-0">Frontend</h4>
                    <p class="mb-1">As an
                        <strong>Angular Developer</strong>, I am responsible for designing, developing and
                                    testing dynamic web applications. I am familiar and closely working with
                                    variety of technologies, including HTML, CSS, TypeScript, and JavaScript.
                    </p>
                    <p>
                        I have a good understanding of software engineering principles and best practices.
                        I also collaborate with designers, backend developers, and other stakeholders, on daily basis, to deliver a
                        seamless user interface and user experience.
                    </p>

                </div>
            </div>
            <div class="col-12 d-flex align-items-start pb-5">
                <iconify-icon style="color: #DAFF3E; font-size: 50px;" class="me-2" icon="fluent-mdl2:developer-tools"></iconify-icon>
                <div>
                    <h4 class="fw-bold mb-0">Backend</h4>
                    <p class="mb-1">Frontend application usually communicate with backend services. NestJs happen to be very
                                    similar to Angular.
                        <br>Developing, maintaining and implementing scalable and efficient APIs and microservices using NestJs is my second best thing.
                    </p>

                </div>
            </div>

        </div>
    </div>

    <hr class="mid-break my-2">

    <div class="py-4 my-5 ">
        <h2 class="fw-bold pb-4">Tech stack</h2>
        <div class="row my-3">
            <div class="client-content">
                <p-carousel [value]="products" [numVisible]="3"
                            class="w-100"
                            [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <div class="text-center">
                            <img height="90" src="{{ product }}" class=" " alt="Logo"/>
                        </div>
                    </ng-template>
                </p-carousel>

            </div>
        </div>
    </div>

</section>
