<section id="portfolio">


  <div class="py-4 my-4 ">
    <h1 class="fw-bold mt-5">Portfolio</h1>
  </div>

  <hr class="mid-break my-2">


  <div class="py-4 my-4 ">

    <div class="mb-5">
      <p>
        <button class="filter-button active" data-filter="*">All</button>
        <button class="filter-button" data-filter=".branding">Branding</button>
        <button class="filter-button" data-filter=".tshirt">T-shirt</button>
        <button class="filter-button" data-filter=".package">Package</button>
        <button class="filter-button" data-filter=".website">Website</button>
        <button class="filter-button" data-filter=".poster">Poster</button>
      </p>
    </div>


    <div class="isotope-container d-flex flex-wrap">
      <div class="item website col-md-4">


        <a href="assets/Rectangle 49.png" title="Boxed Water" class="image-link">

          <img class="portfolio-img" src="assets/Rectangle 49.png" alt="image">
          <div class="description">
            <h4>Boxed Water</h4>
          </div>

        </a>

      </div>

      <div class="item branding col-md-4">
        <a href="assets/Rectangle 52.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 52.png" alt="image">
          <div class="description">
            <h4>Verve Coffee</h4>
          </div>
        </a>
      </div>

      <div class="item tshirt col-md-4">
        <a href="assets/Rectangle 51.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 51.png" alt="image">
          <div class="description">
            <h4>Childern T-shirt</h4>
          </div>
        </a>
      </div>

      <div class="item package col-md-4">
        <a href="assets/Rectangle 50.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 50.png" alt="image">
          <div class="description">
            <h4>Tote Bag</h4>
          </div>
        </a>
      </div>

      <div class="item website col-md-4">
        <a href="assets/Rectangle 54.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 54.png" alt="image">
          <div class="description">
            <h4>Box Packaging</h4>
          </div>
        </a>
      </div>

      <div class="item poster col-md-4">
        <a href="assets/Rectangle 53.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 53.png" alt="image">
          <div class="description">
            <h4>Coco Oil</h4>
          </div>
        </a>
      </div>

      <div class="item tshirt col-md-4">
        <a href="assets/Rectangle 55.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 55.png" alt="image">
          <div class="description">
            <h4>Graphic T-shirt</h4>
          </div>
        </a>
      </div>

      <div class="item branding col-md-4">
        <a href="assets/Rectangle 57.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 57.png" alt="image">
          <div class="description">
            <h4>Paper Cup</h4>
          </div>
        </a>
      </div>

      <div class="item package col-md-4">
        <a href="assets/Rectangle 56.png" title="Boxed Water" class="image-link">
          <img class="portfolio-img" src="assets/Rectangle 56.png" alt="image">
          <div class="description">
            <h4>Coffee Package</h4>
          </div>
        </a>
      </div>

    </div>

  </div>

</section>
